# Dependencies
node_modules/

# Screenshots & Debug outputs
*.png
!stamp_*.png
!letter_parchment_light.png
debug.js
walkthrough.js
screenshot.js
get_quota.js
test_ls.js

# OS files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
